@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #d4fcff, #eae6ff, #ffffff);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* body {
  background-color: gray;
} */
