@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap");

:root {
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Caveat", cursive;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
}

@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* For webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Set the width */
}

::-webkit-scrollbar-thumb {
  background: #ddd; /* Light color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #464545; /* Darker on hover */
}

::-webkit-scrollbar-track {
  background: #f4f4f4; /* Light background */
  border-radius: 10px;
}
